# Azure Blob Storage
AZURE_CONNECTION_STRING=DefaultEndpointsProtocol=https;AccountName=appsprodsa;AccountKey=YOUR_KEY_HERE;EndpointSuffix=core.windows.net

# SFTP credentials
SFTP_PASS=your_sftp_password_here

# Slack
SLACK_BOT_TOKEN=xoxb-your-slack-bot-token-here
SLACK_CHANNEL_ID=C0ADMKT2WDT

# Axis API
AXIS_API_PASSWORD=your_api_password_here
